*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #00ADEF;
    --black:  #272526;
    --overlay: rgba(39, 37, 38, 0.85);
    --marginSection: 12em;
    --btnShadow:  drop-shadow(0px 4px 35px rgba(0, 122, 168, 0.53));
    --btnShadowBlack: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.46));
}

img{
    max-width: 100%;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    position: relative;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--black);
}

h1, h2, h3, h4{
    font-family: 'Lora', serif;
}

h1{
    color: white;
    font-size: clamp(3rem, 5vw, 3.5rem);
}

h2{
    font-size: clamp(2rem, 2vw, 3rem);
}

h3{
    font-size: clamp(1.5rem, 2vw, 2.2rem);
} 

span{
    color: var(--blue);
}

p{
    font-weight: 300;
    margin-top: 1em;
    font-size:   clamp(1.5rem, 2vw, 1.8rem);
}

a{
    font-size:   clamp(1rem, 2vw, 1.5rem);
}


.overflow{
    overflow: hidden;
}

.container{
    width: clamp(300px, 90vw, 1200px);
    margin: 0 auto;
}

.overlay{
    background: var(--overlay);
    padding: 5em 0;
    height: 100%;
}

.overlay p,
.overlay h1,
.overlay h2,
.overlay h3,
.overlay h4{
    color:  white;
}

.header__home{
    
    background-image: url('images/O6YV3J0-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

nav .logo{
    width: clamp(50px, 15vw, 100px);
   
}

i{
    color: var(--blue);
    transition: all .5s ease;
    
}

i:hover{
    color: white;
    transform: scale(1.15);
}

.desktop__menu--item a{
    transition: all .2s ease;
}

.desktop__menu--item{
    transition: all 1s ease;
}

.hover__blue:hover a{
    color: var(--blue);
    /* transform: scale(1.1);
    font-weight: 500; */
}





.mobile__social i{
    font-size: clamp(1.5rem, 2vw, 2rem);
    
}

.hero{
    height: 100%;
}


.hero p{
    color: white;
    margin-top: 1em;
    
}

.btn__blue{
    display: inline-block;
    margin: 2em 0;
    padding: .6em 1.5em;
    background-color: var(--blue);
    color: white;
    filter: var(--btnShadow);
    transition: all 1s ease;
    border: solid 2px var(--blue);
}

.btn__blue:hover{
    background-color: transparent;
    color: var(--blue);
}

.btn__overlay{
    filter: var(--btnShadowBlack);
}

.about{
    margin: var(--marginSection) 0;
    text-align: center;
}

.services{
    background-image: url('images/group-of-business-talking-in-meeting-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.services__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3em;
    justify-items: center;
    align-items: center;
    margin: var(--marginSection) 0;
}

.services__grid a{
    font-size: inherit;
}

.service{
    padding: 5em .5em;
    border: solid 2px var(--blue);
    /* width: clamp(200px, 20vw, 300px) */
    width: clamp(270px, 20vw, 286px);
    transition: all 1s ease;
}

.service:hover{
    transform: translateY(-10px);
    background: var(--blue);
    filter: var(--btnShadowBlack);
}


.info{
    background-image: url('images/triangle-patterned-glass-background-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.info__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3em;
    justify-items: center;
    align-items: center;
}

.info__item{
    padding: 1em;
    width: clamp(200px, 20vw, 300px)
}

.info h4{
    font-size: clamp(1.7rem, 2vw, 3rem);
}

.info i{
    font-size: clamp(2rem, 20vw, 4rem);
    margin-bottom: .5em;
}


.contact{
    margin: var(--marginSection) 0;
    text-align: center;
}

form{
    margin: 3em auto;
    width: clamp(300px, 55vw, 800px);
}

input,
textarea{
    padding: 1em;
    border: solid 2px var(--blue);
    display: inline-block;
}

input::placeholder,
textarea::placeholder{
    font-family: 'Lato', sans-serif;
}


.contact__grid{
    display: grid;
    gap: 2em;
}




button{
    border: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    cursor: pointer;
}

footer{
    background-color: var(--black);
    padding: 6em 0 3em 0;
    text-align: center;
}

footer p{
    font-size: clamp(1rem, 1.3vw, 2rem);
}

footer a,
footer p{
    color: white;
}

footer h3{
    color: var(--blue);
}

footer .logo{
    width: clamp(60px, 30vw, 100px);
    margin:0 auto;
}

.footer__grid{
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.footer__menu--item a{
    color: var(--blue);
}

.footer__social{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(150px, 50vw, 250px);
    margin: 4em auto;
}

.footer__menu--item + .footer__menu--item{
    margin-top: 1em;
}

.attribution a{
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: var(--blue);
    font-weight: 600;
}

.mobile__nav--menu.show__menu{
    transform: translateX(0);
    opacity: 1;
}


/* Contact page styles start */

.page__nav{
    padding: 2em 0;
}

.page__nav .desktop__menu--item a{
    color: var(--black);
}
.contact__main{
    text-align: center;
    padding-top: 4em;
}

.address__grid{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2em;

}

#map{
    width: clamp(250px, 30vw, 500px);
    height: clamp(250px, 30vw, 500px);
    margin: 0 auto;
}

.height__auto{
    height: auto;
}

.page__header{
    text-align: center;
    background-image: url('images/global-business-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page__header h1{
    color: var(--blue);
}

.contact__info--grid{
    margin: var(--marginSection) 0;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(100px, 40vw, 500px);
    margin: 0 auto;
}

.contact__social i:hover{
    color: var(--blue)
}

.contact__social i{
    font-size: clamp(30px, 15vw, 3rem);
   
}



/* Contact page styles end */


/* service page style start */

.services__main{
    margin-top: 6em;
}

.services__header{
    background-image: url('images/group-of-people-working-out-business-plan-in-an-office-min.jpg');
}

.service__header{
    color: var(--black);
}

/* service page style end */

@media screen and (max-width: 900px){

    .desktop__nav,
    .hero__social{
        position: absolute;
        transform: scale(0);
    }

    .mobile__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: relative; */
    }
    
    .hamburger{
        position: relative;
        width: 30px;
        height: 2px;
        background-color: var(--blue);
    }
    
    .hamburger::before,
    .hamburger::after{
        content: '';
        position: absolute;
        background-color: var(--blue);
        width: 30px;
        height: 2px;
        left: 0;
        right: 0;
    
    }
    
    .hamburger::after{
        top: -7px;
    }
    
    .hamburger::before{
        bottom: -7px;
    }
    
    
    
    .mobile__nav--menu{
        position: absolute;
        background-color: var(--black);
        top: 100%;
        width: 80vw;
        padding: 3em;
        right:  0;
        height: 90vh;
        transform: translateX(100%);
        opacity: 0;
        transition: all 1s ease-in-out;
        z-index: 1000;
    }
    
    .mobile__menu--item a{
        color: white;
        font-weight: 300;
    }

    .mobile__menu--item:nth-child(2){
        overflow: hidden;
    }
    
    .mobile__menu--item + .mobile__menu--item{
        margin-top: 2em;
    }
    
    
    .mobile__social{
        margin-top: 10em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile__dropdown{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-height: 0;
        transition: 1s ease-in-out;
    }

    .mobile__menu--item p{
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-top: 0;
        cursor: pointer;
    }

    .mobile__menu--item:hover i{
        color: var(--blue);
    }

    .rotate__arrow{
        transform: rotate(180deg);
        transition: .5s ease;
    }

    .show__dropdown--mobile{
        max-height: 500px;
    }

    .dropdown__item--mobile{
        margin-top: 1em;
        
    }

    .mobile__dropdown a{
        color: var(--blue);
    }
    

    .hero{
        margin: var(--marginSection) 0;
        text-align: center;
    }

    

}

@media  screen and (min-width: 900px){

    header{
        height: 100vh;
    }

    .mobile__nav{
        position: absolute;
        transform: scale(0);
    }

    .desktop__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .desktop__nav--menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: clamp(500px, 40vw, 800px);
    }

    .desktop__menu--item a{
        color: white;
        font-weight: 200;
        font-size: clamp(.8rem, 1.5vw, 1.5rem);
    }

    .desktop__menu--item{
        position: relative;
    }

    .services__dropdown{
        position: absolute;
        left: 0;
        top: 120%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 300px;
        padding: 0 1em 0 1em;
        background-color: white;
        max-height: 0;
        transition: all 1s ease;
        /* opacity: 0; */
        padding-bottom: 0;
        overflow: hidden;
    }

    .services__dropdown a{
        color: var(--black)
    }

    

    .dropdown__item + .dropdown__item{
        margin-top: 1em;
    }

    .dropdown__item {
        color: var(--black);
        padding-bottom: 1em;
        border-bottom: solid 1px var(--blue);
        position: relative;
        transition: 3s ease;
    }

    .dropdown i{
        margin-left: .5em;
        transition: .5s ease;
        
    }

    .dropdown:hover i{
        transform: rotate(180deg);
        color: var(--blue);
    }

    .dropdown__item:hover{
        font-weight: 500;
    }

    .desktop__menu--item.dropdown:hover .services__dropdown{
        max-height: 500px;
        opacity: 1;
    }

    .services__dropdown a:first-child{
        padding-top: 1em;
    }

    .services__dropdown a:last-child{
        border: none;
    }

    .hero .container{
        display: flex;
        
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .hero__text{
        width: 40%;

    }

    .hero__social{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: clamp(90px, 30vh, 200px);
    }
}

@media screen and (min-width: 750px){
    .contact__grid{
        
        grid-template-areas: 'nombre apellido'
                             'telefono email'
                             'mensaje mensaje';
    }
    
    .name{
        grid-area: "nombre";
         
    }
    
    .lastname{
        grid-area: "apellido";
    }
    
    .email{
        grid-area: "email";
    }
    
    .phone{
        grid-area: "telefono";
    }
    
    textarea{
        grid-area: "mensaje";
        grid-column: span 2;
    }

    /* .contact__info--grid{
        grid-template-areas: 'phone fax email'
                             ' . social .'  ;
    }

    .contact__phone{
        grid-area: phone;
    }

    .contact__fax{
        grid-area: fax;
    }

    .contact__email{
        grid-area: email;
    }

    .contact__social{
        grid-area: social;
        margin-top: 5em;
    } */
}



